* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 10px;
    width: 90%;
}

img {
    width: 40px;
    height: 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 40%; */
    gap: 5px;
}

li {
    list-style: none;
    padding-left: 5px;
}

a {
    text-decoration: none;
    padding-right: 5px;
    border-right: 2px solid violet;
}

.login {
    display: flex;
    justify-content: space-around;
    gap: 5px;

}

button {
    background-color: blueviolet;
    border: none;
    padding: 5px;
}



.container {
    background-color: #fff;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    justify-content: start;
}

h2 {
    text-transform: capitalize;
    color: blueviolet;
}

.input-row {
    display: flex;
    gap: 5px;

}

input {
    width: 85%;
    padding: 5px;

}

button {
    padding: 5px 15px;
    color: #fff;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.todo-row {
    gap: 20px;
}

.todo-task {
    display: flex;
    justify-content: space-between;
}

p {
    color: #000;
}

.add {
    background-color: darkviolet;
    /* border: none; */
    padding: 5px 23px;
}

.edit {
    background-color: green;
    /* border: none; */
}

.delete {
    background-color: red;
    /* border: none; */
}