* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: #fff;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    justify-content: start;
}

h2 {
    text-transform: capitalize;
    color: blueviolet;
}

.input-row {
    display: flex;
    gap: 5px;

}

input {
    width: 85%;
    padding: 5px;
}

button {
    padding: 5px 15px;
    color: #fff;
    border: none;
    text-transform: capitalize;
}

.todo-row {
    gap: 20px;
}

.todo-task {
    display: flex;
    justify-content: space-between;
}

p {
    color: #000;
}

.add {
    background-color: darkviolet;
    /* border: none; */
}

.edit {
    background-color: green;
    /* border: none; */
}

.delete {
    background-color: red;
    /* border: none; */
}